@charset "utf-8";

html,
body {
  width: 100%;
  height: 100%
}

body {
  font-family: 'notokr', sans-serif;
  font-size: 15px;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -moz-osx-font-smoothing: grayscale
}

body:before {
  content: '';
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 0
}

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
p,
button,
iframe,
tr,
tbody,
thead,
table,
th,
td,
b,
span,
strong {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

dl,
dt,
dd,
ul,
ol,
li {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6,
dt {
  font-weight: normal
}

img,
fieldset,
iframe,
button {
  border: 0 none
}

dl,
dt,
dd,
ul,
ol,
li {
  list-style: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

th,
td {
  border-collapse: collapse
}

legend,
caption {
  position: absolute;
  height: 0;
  overflow: hidden
}

abbr {
  text-decoration: none
}

hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 40px 0
}

em,
u,
cite,
i {
  font-style: normal
}

strong,
b {
  font-weight: normal
}

a {
  text-decoration: none;
  box-sizing: border-box;
  color: #444
}

a.lul {
  text-decoration: underline !important
}

table a:hover,
table a:focus {
  text-decoration: underline
}

label {
  cursor: pointer
}

button {
  border: 0;
  font-family: 'notokr', sans-serif;
  cursor: pointer;
  background: transparent;
  box-sizing: border-box;
  color: #444
}

textarea {
  width: 100%;
  height: 150px;
  padding: 8px 10px;
  margin: 0;
  font-size: 15px;
  color: #222;
  border: 1px solid #ccc;
  border-radius: 2px
}

textarea:focus {
  border: 1px solid #000
}

input,
textarea,
select {
  box-sizing: border-box;
  font-family: 'notokr', sans-serif;
  font-size: 15px
}

body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
hgroup,
nav,
section,
summary {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

kr {
  display: inline-block;
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

.hide {
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
  color: transparent;
  overflow: hidden;
  font-size: xx-small;
  line-height: 0
}

.div-none {
  display: none
}

input[type="text"]::-ms-clear {
  display: none !important
}

input[type="text"]:-ms-clear {
  display: none !important
}

input[type="search"]::-webkit-search-cancel-button {
  display: none !important
}

object,
embed {
  position: absolute
}

.none {
  padding: 35px 0 !important;
  text-align: center !important
}

.only-min,
.only-m {
  display: none !important
}

.only-d {
  display: block !important
}

.only-din {
  display: inline-block !important
}

.ui-m .only-min {
  display: inline-block !important
}

.ui-m .only-m {
  display: block !important
}

.ui-m .only-din,
.ui-m .only-d {
  display: none !important
}

.page-item_002 .btn-wrap.pc {
  display: block
}

.page-item_002 .btn-wrap.mob {
  display: none
}

input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0
}

.ie8 body,
.ie8 button,
.ie8 input,
.ie8 textarea,
.ie8 select {
  font-family: '나눔 고딕', '맑은 고딕'
}

.clfix {
  *zoom: 1
}

.clfix:before,
.clfix:after {
  display: table;
  line-height: 0;
  content: ""
}

.clfix:after {
  clear: both
}

input::-webkit-input-placeholder {
  color: #999
}

input::-moz-placeholder {
  color: #999
}

input:-ms-input-placeholder {
  color: #999
}

input:-moz-input-placeholder {
  color: #999
}

textarea::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999
}

textarea::-moz-placeholder {
  color: #999
}

textarea:-ms-input-placeholder {
  color: #999
}

textarea:-moz-input-placeholder {
  color: #999
}

.fn-color1 {
  color: #014bb4 !important
}

.fn-color2 {
  color: #1e78d0 !important
}

.fn-color3 {
  color: #000 !important
}

.fn-color4 {
  color: #ff7800 !important
}

.fn-color5 {
  color: #1a72c9 !important
}

.fn-color6 {
  color: #e10808 !important
}

.fn-color7 {
  color: #f64 !important
}

.h1 {
  font-size: 30px;
  color: #222;
  margin: 0;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.07em
}

.h2 {
  font-size: 23px;
  color: #333;
  margin: 0;
  font-weight: 500;
  line-height: 1.33;
  letter-spacing: -0.07em
}

.h3 {
  font-size: 20px;
  color: #333;
  margin: 0;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: -0.07em
}

.h4 {
  font-size: 17px;
  color: #333;
  margin: 0;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: -0.07em
}

.tit-iframe {
  top: 18px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
  position: absolute;
  color: #fff;
  font-size: 1.7rem
}

.btn-close.iframe-modal-close {
  top: 14px;
  right: 12px;
  z-index: -1;
  position: absolute
}

.ui-modal .h1 {
  padding: 35px 0 11px;
  width: 100%;
  position: relative;
  border-bottom: 2px solid #000;
  margin-bottom: 25px
}

.tit-wrap {
  padding: 32px 0 13px;
  width: 100%;
  position: relative;
  border-bottom: 2px solid #000;
  margin-bottom: 30px
}

.tit-wrap:after {
  content: "";
  display: block;
  clear: both
}

.tit-wrap h1 {
  float: left
}

.tit-wrap.sub-main {
  margin-bottom: 0
}

.tit-wrap.sub-main h1 {
  font-weight: 300
}

.tit-wrap.sub-main h1 em {
  font-weight: 500
}

.tit-wrap h1 span {
  position: relative;
  display: inline-block;
  font-weight: 200;
  padding-left: 10px;
  margin-left: 10px
}

.tit-wrap h1 span i {
  font-size: 23px
}

.tit-wrap h1 span:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  height: 26px;
  width: 2px;
  margin-top: -13px;
  background: #000
}

.tit-wrap .proc-step {
  float: right;
  margin-top: 5px
}

.tit-wrap-m {
  position: relative;
  margin: 35px 0 20px;
  width: 100%
}

.tit-wrap-m:after {
  content: "";
  display: block;
  clear: both
}

.tit-wrap-m.first {
  margin-top: 22px
}

.tit-wrap-m.tab_upper {
  margin: 0 0 25px
}

.tit-wrap-m .tit-con {
  float: left
}

.tit-wrap-m .ui-select-terms {
  float: right;
  width: auto;
  margin: 0
}

.tit-wrap-m .tbl-select {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -17px
}

.tit-wrap-m+.tit-wrap-m,
.bul-round+.tit-wrap-m {
  margin-top: 30px
}

#Tab_PP050101_001 .tit-wrap-m .tbl-select {
  float: left;
  position: relative;
  top: auto;
  right: auto;
  margin: 0
}

.tit-wrap-m .insured {
  display: inline-block;
  margin: 0 7px 0 30px;
  vertical-align: middle;
  color: #222;
  font-size: 15px;
  font-weight: 500;
  line-height: 15px
}

.tit-wrap-m .sub-date {
  position: absolute;
  bottom: 0;
  right: 0;
  width: auto;
  margin: 0;
  font-size: 15px;
  line-height: 15px;
  vertical-align: middle
}

.tit-wrap-m .tit-sub {
  position: relative;
  display: block;
  clear: both;
  padding: 12px 0 0;
  margin: 0
}

.ui-modal-cont .tit-wrap-m {
  margin: 32px 0 18px
}

.ui-modal-cont .tit-wrap-m.first {
  margin: 28px 0 18px
}

.ui-modal-cont .tit-wrap-m.tab_upper {
  margin: 25px 0 20px
}

.ui-modal-cont .tit-wrap-m .tit-sub {
  padding: 5px 0 0;
  font-size: 14px;
  color: #444
}

.tit-lb {
  font-size: 15px;
  color: #000;
  font-weight: 500;
  padding-right: 20px
}

.keep-all {
  word-wrap: keep-all !important
}

.txt-sub {
  display: inline-block;
  font-size: 12px;
  color: #999
}

.txt-sub2 {
  margin-top: 20px;
  font-size: 15px;
  color: #000;
  font-weight: 400
}

.tit-sub {
  display: block;
  margin-bottom: 15px;
  line-height: 1.2
}

.tit-sub2 {
  margin-top: 35px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2
}

.tit-sub3 {
  margin-bottom: 15px;
  margin-top: 25px;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.2
}

.tit-sub4 {
  margin-bottom: 15px;
  margin-top: 25px;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.2
}

.txt-sch {
  margin-bottom: 12px
}

.txt-notify {
  margin-top: 15px;
  font-size: 15px;
  color: #222;
  line-height: 1
}

.txt-notify.on {
  color: #1a72c9
}

.txt-notify.on:before {
  display: inline-block;
  content: "";
  width: 13px;
  height: 10px;
  margin: 2px 8px 0 0;
  vertical-align: top;
  background: url(/resources/images/common/ico_bul.png) no-repeat -90px -60px
}

.txt-input {
  display: inline-block;
  margin-right: 17px;
  line-height: 32px
}

.txt-num {
  font-family: 'sslg', 'notokr', sans-serif !important;
  font-weight: 400 !important
}

.txt-num-m {
  font-family: 'sslg', 'notokr', sans-serif !important;
  font-weight: 500 !important
}

.txt-lead {
  margin: 20px 0 10px;
  font-size: 18px;
  font-weight: 300
}

.txt-line {
  text-decoration: none
}

.txt-bar:before {
  content: "";
  display: inline-block;
  width: 1px;
  height: 13px;
  margin: 0 5px;
  background: #cdcdcd;
  vertical-align: -1px
}

.txt-f1 {
  font-weight: 100 !important
}

.txt-f2 {
  font-weight: 200 !important
}

.txt-f3 {
  font-weight: 300 !important
}

.txt-f4 {
  font-weight: 400 !important
}

.txt-f5 {
  font-weight: 500 !important
}

.txt-f6 {
  font-weight: 600 !important
}

.txt-f7 {
  font-weight: 700 !important
}

.txt-c,
.txt-c td,
.txt-c th {
  text-align: center !important
}

.txt-l,
.txt-l td,
.txt-l th {
  text-align: left !important
}

.txt-r,
.txt-r td,
.txt-r th {
  text-align: right !important
}

.txt-l .txt-c,
.txt-l .txt-c th,
.txt-l .txt-c td,
.txt-r .txt-c,
.txt-r .txt-c th,
.txt-r .txt-c td {
  text-align: center !important
}

.ellp {
  position: relative;
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: normal
}

.sub-text {
  display: block;
  font-size: 14px;
  color: #444
}

.sub-txt2 {
  display: block;
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
  color: #000;
  letter-spacing: -0.07em;
  margin-top: 15px
}

.sub-txt3 {
  display: block;
  margin: 30px 0 10px;
  font-size: 25px;
  line-height: 35px;
  font-weight: 300;
  color: #000;
  letter-spacing: -1px;
  text-align: center
}

.sub-txt4 {
  display: block;
  margin: 30px 0 10px;
  font-size: 30px;
  line-height: 40px;
  font-weight: 500;
  color: #000;
  letter-spacing: -0.07em;
  text-align: center
}

.sub-desc {
  display: block;
  margin: 10px 0 0;
  font-size: 17px;
  line-height: 1
}

p {
  margin: 5px 0 0 0
}

.mgn {
  margin: 0 !important
}

.mgt-xs {
  margin-top: 5px !important
}

.mgt {
  margin-top: 10px !important
}

.mgt-c {
  margin-top: 15px !important
}

.mgt-s {
  margin-top: 20px !important
}

.mgt-m {
  margin-top: 30px !important
}

.mgt-l {
  margin-top: 40px !important
}

.mgt-xl {
  margin-top: 50px !important
}

.mgb-xs {
  margin-bottom: 5px !important
}

.mgb {
  margin-bottom: 10px !important
}

.mgb-s {
  margin-bottom: 20px !important
}

.mgb-m {
  margin-bottom: 30px !important
}

.mgb-l {
  margin-bottom: 40px !important
}

.mgr-n {
  margin-right: 0 !important
}

.mgr {
  margin-right: 10px !important
}

.mgr-xs {
  margin-right: 5px !important
}

.mgr-s {
  margin-right: 20px !important
}

.mgr-m {
  margin-right: 30px !important
}

.mgr-l {
  margin-right: 40px !important
}

.mgl-n {
  margin-left: 0 !important
}

.mgl {
  margin-left: 10px !important
}

.mgl-xs {
  margin-left: 5px !important
}

.mgl-s {
  margin-left: 20px !important
}

.mgl-m {
  margin-left: 30px !important
}

.mgl-l {
  margin-left: 40px !important
}

.mgt-n {
  margin-top: 0 !important
}

.mgb-n {
  margin-bottom: 0 !important
}

.pdt-xs {
  padding-top: 5px !important
}

.pdt {
  padding-top: 10px !important
}

.pdt-s {
  padding-top: 20px !important
}

.pdt-m {
  padding-top: 30px !important
}

.pdt-l {
  padding-top: 40px !important
}

.pdb {
  padding-bottom: 10px !important
}

.pdb-s {
  padding-bottom: 20px !important
}

.pdb-m {
  padding-bottom: 30px !important
}

.pdb-l {
  padding-bottom: 40px !important
}

.pd-n {
  padding: 0 !important
}

.pdr-n {
  padding-right: 0 !important
}

.pdl-n {
  padding-left: 0 !important
}

.pdl-10 {
  padding-left: 10px !important
}

.pdl-15 {
  padding-left: 15px !important
}

.pdl-20 {
  padding-left: 20px !important
}

.pdl-25 {
  padding-left: 25px !important
}

.pdl-30 {
  padding-left: 30px !important
}

.pdt-n {
  padding-top: 0 !important
}

.pdb-n {
  padding-bottom: 0 !important
}

.bdb-n {
  border-bottom: 0 !important
}

.bul-round+.mgt-s {
  margin-top: 16px !important
}

.mgb-txt {
  margin-bottom: 4px !important
}

[class*="bul-"] {
  margin: 10px 0 20px;
  letter-spacing: -0.35px
}

.bul-round {
  margin-left: 10px;
  line-height: 1.4
}

.bul-round li {
  position: relative;
  list-style: none;
  margin-top: 5px;
  padding-left: 10px;
  line-height: 1.6;
  display: block
}

.list-tbl .bul-round li,
table table .bul-round li {
  margin-top: 4px
}

.bul-round li li:first-child,
.bul-round li:first-child {
  margin-top: 0
}

.bul-round li:before {
  content: "·";
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 700;
  line-height: 1.2
}

.bul-round li .bul-etc li:before,
.bul-round li .txt-caution li:before {
  display: none
}

.bul-round ul {
  margin: 5px 0
}

.bul-round li li {
  margin: 5px 0 0;
  padding-left: 10px
}

.bul-round li li .bul-etc {
  margin: 0
}

.bul-round li li .bul-etc li {
  padding-left: 0
}

.bul-round li li [class*="txt-caution"] {
  padding-left: 0;
  margin-left: -10px !important
}

.bul-round li.type-btn:before {
  top: 2px
}

.bul-round li.type-btn a,
.bul-round li.type-btn button {
  margin-left: 15px
}

.bul-round dt {
  color: #000;
  font-weight: 500
}

.bul-round dd {
  position: relative;
  list-style: none;
  margin: 10px 0 0 0;
  padding-left: 10px;
  color: #222;
  font-weight: 300;
  line-height: 21px
}

.bul-round dd:before {
  content: "·";
  position: absolute;
  left: 0;
  top: -2px;
  font-weight: bold
}

.bul-round dd li {
  margin: 4px 0 0
}

.bul-round.type2 dt {
  position: relative;
  margin-top: 25px;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  line-height: 21px
}

.bul-round.type2 dt:before {
  content: "·";
  position: absolute;
  left: 0;
  top: -1px;
  font-weight: bold
}

.bul-round.type2 dd:before {
  display: none
}

.bul-round dd.nodot:before {
  display: none
}

.util-defi .bul-round {
  margin: 0 0 10px 0;
  line-height: 21px
}

.bul-round.type2 li {
  font-weight: 500;
  font-size: 15px;
  color: #000
}

.bul-hyphen {
  line-height: 24px
}

.bul-hyphen ul {
  margin: 5px 0
}

.bul-hyphen li:first-child {
  margin-top: 0
}

.bul-hyphen li {
  position: relative;
  list-style: none;
  padding-left: 10px;
  margin-top: 5px
}

.bul-hyphen li:before {
  content: "-";
  position: absolute;
  left: 0;
  top: -2px;
  width: 5px;
  height: 1px
}

.bul-cross {
  line-height: 24px
}

.bul-cross ul {
  margin: 5px 0
}

.bul-cross li:first-child {
  margin-top: 0
}

.bul-cross li {
  position: relative;
  list-style: none;
  padding-left: 18px;
  margin-top: 0
}

.bul-cross li:before {
  content: "※";
  position: absolute;
  left: 0;
  top: 0;
  width: 10px
}

.bul-hyphen dt {
  font-weight: 500
}

.bul-hyphen dd {
  position: relative;
  list-style: none;
  padding-left: 10px;
  margin-top: 10px
}

.bul-hyphen dd:before {
  content: "-";
  position: absolute;
  left: 0;
  top: -2px;
  width: 5px;
  height: 1px
}

.bul-hyphen li ul {
  margin-bottom: 5px
}

.bul-round ul li:before {
  content: "-";
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 1px;
  font-weight: normal
}

.bul-hyphen ul li:before {
  content: "·";
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  font-weight: bold
}

.bul-etc {
  margin-left: 10px
}

.bul-etc li {
  padding-left: 20px
}

.bul-etc>li {
  margin: 10px 0 0 0
}

.bul-etc>li .bul-hyphen li {
  margin-top: 5px
}

.bul-ico {
  position: relative;
  top: -1px;
  margin: 0 0 0 -20px;
  width: 20px;
  display: inline-block;
  letter-spacing: -1px
}

.bul-etc li .bul-num {
  margin: 0 0 0 -20px;
  width: 20px;
  display: inline-block;
  letter-spacing: -1px
}

.bul-etc .bul-round,
.bul-etc .bul-hyphen,
.bul-etc .bul-etc {
  margin-top: 5px;
  margin-bottom: 0
}

.bul-etc .bul-round li {
  padding-left: 10px
}

.bul-etc .bul-hyphen li {
  padding-left: 7px
}

.bul-dp-none>li:before {
  display: none
}

.bul-num,
.bul-num-circle,
.bul-hangul {
  line-height: 21px
}

.bul-num-circle>li {
  list-style: none;
  padding-left: 18px
}

.bul-num-circle li span {
  margin: 0 3px 0 -18px;
  vertical-align: text-bottom
}

.bul-num li {
  list-style-type: decimal;
  margin-left: 15px
}

.bul-num li ul li {
  list-style: none
}

.bul-hangul>li {
  list-style-type: none;
  margin-left: 22px;
  text-indent: -20px
}

p[class*="bul-"] {
  margin: 5px 0 0;
  position: relative;
  list-style: none;
  padding-left: 10px;
  line-height: 21px
}

p.bul-round:before {
  content: "·";
  position: absolute;
  left: 0;
  top: -1px;
  font-weight: bold
}

p.bul-hyphen:before {
  content: "-";
  position: absolute;
  left: 0;
  top: -2px;
  width: 5px;
  height: 1px
}

p.bul-annexed {
  margin-top: 5px;
  font-size: 14px;
  color: #444;
  line-height: 1.2;
  font-weight: 400
}

p.bul-annexed:before {
  content: '*';
  position: absolute;
  left: 0;
  top: 3px
}

.bul-round-s {
  position: relative;
  margin-top: 6px;
  font-size: 14px;
  color: #444;
  line-height: 21px;
  letter-spacing: -0.03em
}

.bul-round-s li {
  position: relative;
  padding-left: 10px
}

.bul-round-s li:before,
p.bul-round-s:before {
  content: "·";
  position: absolute;
  left: 0;
  top: -2px;
  font-weight: bold;
  font-size: 16px
}

.bul-round-s button,
.bul-round-s a {
  margin-left: 15px
}

.bul-round-s.type-btn:before {
  top: 1px
}

p.bul-round-s {
  margin-top: 6px
}

.agr-wrap .tit-wrap-m+.bul-round {
  margin: 0 0 5px 10px
}

.agr-wrap .bul-round>li {
  min-height: 23px;
  margin: 7px 0 0
}

.box-inner .bul-round .agr-rdo {
  float: none;
  margin-left: 10px;
  vertical-align: middle
}

.box-inner .bul-round .agr-rdo .lb-radio {
  margin-top: -5px
}

.agr-rdo .lb-radio:last-child span {
  margin-right: 0 !important
}

.ui-modal-cont .bul-round {
  margin: 10px 0 0
}

.ui-modal-cont .bul-round li {
  margin: 5px 0 0
}

.ui-modal-cont .bul-round li:first-child {
  margin: 0
}

.paging-wrap {
  margin-top: 20px;
  text-align: center
}

.paging-wrap button {
  display: inline-block;
  min-width: 30px;
  height: 30px;
  font-size: 15px;
  color: #444;
  line-height: 30px;
  vertical-align: middle
}

.paging-wrap a {
  display: inline-block;
  min-width: 30px;
  height: 30px;
  font-size: 15px;
  color: #444;
  line-height: 1.4;
  padding: 0 5px
}

.paging-wrap button.current,
.paging-wrap a.current {
  color: #1e78d0;
  font-weight: 500;
  text-decoration: underline;
  line-height: 1.4
}

.paging-wrap [class*="btn-page-"] {
  overflow: hidden;
  position: relative;
  width: 30px;
  height: 30px;
  text-align: left;
  text-indent: -10000em;
  vertical-align: middle;
  border: 1px solid #cdcdcd
}

.paging-wrap [class*="btn-page-"]:before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  left: 50%;
  width: 12px;
  height: 9px;
  margin-left: -6px;
  background: url(/resources/images/common/ico_btn.png) no-repeat
}

.paging-wrap .btn-page-prev {
  margin-right: 10px
}

.paging-wrap .btn-page-first {
  margin-right: 7px
}

.paging-wrap .btn-page-next {
  margin-left: 10px
}

.paging-wrap .btn-page-last {
  margin-left: 7px
}

.paging-wrap .btn-page-first:before {
  background-position: -90px -30px
}

.paging-wrap .btn-page-prev:before {
  width: 6px;
  margin-left: -3px;
  background-position: -120px -30px
}

.paging-wrap .btn-page-next:before {
  width: 6px;
  margin-left: -3px;
  background-position: -150px -30px
}

.paging-wrap .btn-page-last:before {
  background-position: -180px -30px
}

.tbl-wrap+.paging-wrap {
  margin-top: 35px
}

.paging-wrap+.sch-wrap {
  margin-top: 35px
}

.bbs-paging-wrap {
  margin-top: 50px;
  border-top: 1px solid #969696;
  border-bottom: 1px solid #ccc
}

.bbs-paging-wrap dl:after {
  content: '';
  display: block;
  clear: both
}

.bbs-paging-wrap dt,
.bbs-paging-wrap dd {
  float: left;
  height: 50px;
  line-height: 50px;
  color: #222
}

.bbs-paging-wrap dt {
  width: 155px;
  color: #000;
  font-weight: 500
}

.bbs-paging-wrap dt:before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 7px;
  margin: 0 10px 0 20px;
  vertical-align: middle;
  background: url(/resources/images/common/ico_btn.png) no-repeat
}

.bbs-paging-wrap .next {
  border-bottom: 1px solid #e9e9e9
}

.bbs-paging-wrap .next dt:before {
  background-position: -30px -120px
}

.bbs-paging-wrap .prev dt:before {
  background-position: -60px -120px
}

.bbs-paging-wrap a {
  display: block;
  color: #222
}

.bn-wrap {
  margin-top: 15px
}

.bn-wrap li {
  position: relative;
  list-style: none;
  margin-bottom: 5px;
  border: 1px solid #ccc
}

.bn-wrap li:before {
  content: "";
  position: absolute;
  top: 50%;
  display: inline-block;
  background: url(/resources/images/common/ico_bul.png) no-repeat
}

.bn-wrap li.banner1:before {
  right: 15px;
  width: 19px;
  height: 19px;
  margin-top: -9px;
  background-position: 0 -60px
}

.bn-wrap li.banner2:before {
  right: 16px;
  width: 16px;
  height: 18px;
  margin-top: -9px;
  background-position: -150px -30px
}

.bn-wrap li button,
.bn-wrap li a {
  display: block;
  height: 42px;
  padding-left: 20px;
  line-height: 42px;
  color: #444;
  font-size: 14px;
  width: 100%;
  text-align: left
}

.withdrawal-wrap {
  border: 1px solid #ccc
}

.withdrawal-wrap [class*="wdr-sec"] {
  position: relative;
  float: left;
  width: 33.3%;
  padding: 18px 25px 20px
}

.withdrawal-wrap [class*="wdr-sec"]:before {
  content: '';
  display: block;
  position: absolute;
  top: 12px;
  left: -1px;
  width: 1px;
  height: 87px;
  border-left: 1px dashed #c3c3c3
}

.withdrawal-wrap .wdr-sec1:before {
  display: none
}

.withdrawal-wrap [class*="wdr-sec"] .sec1 {
  margin-bottom: 5px
}

.btn-wrap-iframe {
  display: none
}

.type-iframe .btn-wrap-iframe {
  display: block
}

body.print {
  overflow: auto !important;
  padding: 0 !important;
  height: auto !important;
  width: 21.0cm !important;
  min-width: 21.0cm !important;
  border: 0 !important;
  background: transparent !important;
  font-size: 9pt !important
}

body.print>* {
  display: none
}

body.print #basePrint {
  display: block !important;
  width: 100%;
  font-size: 10pt !important
}

body.print #basePrint .tit-con {
  font-size: 13pt !important
}

body.print #basePrint table th,
body.print #basePrint table td {
  padding: 9px 10px 8px;
  height: auto
}

body.print #basePrint .col-th {
  width: 115px
}

@media print {
  @page {
    size: 21.0cm 29.7cm
  }

  .html-iframe,
  body {
    overflow: auto !important;
    padding: 0 !important;
    height: auto !important;
    width: 21.0cm !important;
    min-width: 21.0cm !important;
    border: 0 !important;
    background: transparent !important;
    font-size: 9pt !important
  }

  body>* {
    display: none !important
  }

  #basePrint {
    display: block !important;
    width: 100%;
    font-size: 10pt !important;
    background: #fff
  }

  #basePrint .tit-con {
    font-size: 13pt !important
  }

  #basePrint table th,
  #basePrint table td {
    padding: 9px 10px 8px;
    height: auto;
    font-size: 10pt !important;
    font-weight: 400
  }

  #basePrint .col-th {
    width: 115px
  }

  .print-pagebreak {
    page-break-before: always
  }

  .print-pagebreak:after {
    content: " ";
    display: inline-block;
    width: 100%;
    height: 1px
  }

  .modal-backdrop {
    display: none !important
  }
}

.mg0 {
  margin: 0 !important
}

.mg5 {
  margin: 5px !important
}

.mg7 {
  margin: 7px !important
}

.mg8 {
  margin: 8px !important
}

.mg10 {
  margin: 10px !important
}

.mg13 {
  margin: 13px !important
}

.mg15 {
  margin: 15px !important
}

.mg20 {
  margin: 20px !important
}

.mg25 {
  margin: 25px !important
}

.mg30 {
  margin: 30px !important
}

.mg40 {
  margin: 40px !important
}

.mg50 {
  margin: 50px !important
}

.mgt-40 {
  margin-top: -40px !important
}

.mgt-35 {
  margin-top: -35px !important
}

.mgt-33 {
  margin-top: -33px !important
}

.mgt-30 {
  margin-top: -30px !important
}

.mgt-28 {
  margin-top: -28px !important
}

.mgt-27 {
  margin-top: -27px !important
}

.mgt-25 {
  margin-top: -25px !important
}

.mgt-24 {
  margin-top: -24px !important
}

.mgt-23 {
  margin-top: -23px !important
}

.mgt-21 {
  margin-top: -21px !important
}

.mgt-22 {
  margin-top: -22px !important
}

.mgt-20 {
  margin-top: -20px !important
}

.mgt-18 {
  margin-top: -18px !important
}

.mgt-15 {
  margin-top: -15px !important
}

.mgt-1 {
  margin-top: -1px !important
}

.mgt-2 {
  margin-top: -2px !important
}

.mgt-3 {
  margin-top: -3px !important
}

.mgt-4 {
  margin-top: -4px !important
}

.mgt-5 {
  margin-top: -5px !important
}

.mgt-6 {
  margin-top: -6px !important
}

.mgt-7 {
  margin-top: -7px !important
}

.mgt-8 {
  margin-top: -8px !important
}

.mgt-10 {
  margin-top: -10px !important
}

.mgt-13 {
  margin-top: -13px !important
}

.mgt-2 {
  margin-top: -2px !important
}

.mgt0 {
  margin-top: 0 !important
}

.mgt1 {
  margin-top: 1px !important
}

.mgt2 {
  margin-top: 2px !important
}

.mgt3 {
  margin-top: 3px !important
}

.mgt4 {
  margin-top: 4px !important
}

.mgt5 {
  margin-top: 5px !important
}

.mgt6 {
  margin-top: 6px !important
}

.mgt7 {
  margin-top: 7px !important
}

.mgt8 {
  margin-top: 8px !important
}

.mgt9 {
  margin-top: 9px !important
}

.mgt10 {
  margin-top: 10px !important
}

.mgt10 {
  margin-top: 11px !important
}

.mgt11 {
  margin-top: 11px !important
}

.mgt13 {
  margin-top: 13px !important
}

.mgt14 {
  margin-top: 14px !important
}

.mgt12 {
  margin-top: 12px !important
}

.mgt15 {
  margin-top: 15px !important
}

.mgt16 {
  margin-top: 16px !important
}

.mgt17 {
  margin-top: 17px !important
}

.mgt18 {
  margin-top: 18px !important
}

.mgt19 {
  margin-top: 19px !important
}

.mgt20 {
  margin-top: 20px !important
}

.mgt21 {
  margin-top: 21px !important
}

.mgt22 {
  margin-top: 22px !important
}

.mgt23 {
  margin-top: 23px !important
}

.mgt24 {
  margin-top: 24px !important
}

.mgt25 {
  margin-top: 25px !important
}

.mgt26 {
  margin-top: 26px !important
}

.mgt27 {
  margin-top: 27px !important
}

.mgt28 {
  margin-top: 28px !important
}

.mgt29 {
  margin-top: 29px !important
}

.mgt30 {
  margin-top: 30px !important
}

.mgt32 {
  margin-top: 32px !important
}

.mgt33 {
  margin-top: 33px !important
}

.mgt34 {
  margin-top: 34px !important
}

.mgt35 {
  margin-top: 35px !important
}

.mgt36 {
  margin-top: 36px !important
}

.mgt38 {
  margin-top: 38px !important
}

.mgt40 {
  margin-top: 40px !important
}

.mgt45 {
  margin-top: 45px !important
}

.mgt48 {
  margin-top: 48px !important
}

.mgt50 {
  margin-top: 50px !important
}

.mgt55 {
  margin-top: 55px !important
}

.mgt60 {
  margin-top: 60px !important
}

.mgt70 {
  margin-top: 70px !important
}

.mgt73 {
  margin-top: 73px !important
}

.mgt115 {
  margin-top: 115px !important
}

.mgt120 {
  margin-top: 120px !important
}

.mgt160 {
  margin-top: 160px !important
}

.mgt180 {
  margin-top: 180px !important
}

.mgt195 {
  margin-top: 195px !important
}

.mgt200 {
  margin-top: 200px !important
}

.mgt210 {
  margin-top: 210px !important
}

.mgt270 {
  margin-top: 270px !important
}

.mgb-2 {
  margin-bottom: -2px !important
}

.mgb-5 {
  margin-bottom: -5px !important
}

.mgb0 {
  margin-bottom: 0 !important
}

.mgb3 {
  margin-bottom: 3px !important
}

.mgb4 {
  margin-bottom: 4px !important
}

.mgb5 {
  margin-bottom: 5px !important
}

.mgb6 {
  margin-bottom: 6px !important
}

.mgb7 {
  margin-bottom: 7px !important
}

.mgb8 {
  margin-bottom: 8px !important
}

.mgb9 {
  margin-bottom: 9px !important
}

.mgb10 {
  margin-bottom: 10px !important
}

.mgb11 {
  margin-bottom: 11px !important
}

.mgb12 {
  margin-bottom: 12px !important
}

.mgb13 {
  margin-bottom: 13px !important
}

.mgb14 {
  margin-bottom: 14px !important
}

.mgb15 {
  margin-bottom: 15px !important
}

.mgb16 {
  margin-bottom: 16px !important
}

.mgb18 {
  margin-bottom: 18px !important
}

.mgb19 {
  margin-bottom: 19px !important
}

.mgb20 {
  margin-bottom: 20px !important
}

.mgb21 {
  margin-bottom: 21px !important
}

.mgb22 {
  margin-bottom: 22px !important
}

.mgb24 {
  margin-bottom: 24px !important
}

.mgb25 {
  margin-bottom: 25px !important
}

.mgb26 {
  margin-bottom: 26px !important
}

.mgb27 {
  margin-bottom: 27px !important
}

.mgb28 {
  margin-bottom: 28px !important
}

.mgb30 {
  margin-bottom: 30px !important
}

.mgb31 {
  margin-bottom: 31px !important
}

.mgb35 {
  margin-bottom: 35px !important
}

.mgb37 {
  margin-bottom: 37px !important
}

.mgb38 {
  margin-bottom: 38px !important
}

.mgb40 {
  margin-bottom: 40px !important
}

.mgb45 {
  margin-bottom: 45px !important
}

.mgb46 {
  margin-bottom: 46px !important
}

.mgb50 {
  margin-bottom: 50px !important
}

.mgb55 {
  margin-bottom: 55px !important
}

.mgb56 {
  margin-bottom: 56px !important
}

.mgb58 {
  margin-bottom: 58px !important
}

.mgb60 {
  margin-bottom: 60px !important
}

.mgb70 {
  margin-bottom: 70px !important
}

.mgb90 {
  margin-bottom: 90px !important
}

.mgb100 {
  margin-bottom: 100px !important
}

.mgb110 {
  margin-bottom: 110px !important
}

.mgb195 {
  margin-bottom: 195px !important
}

.mgl-2 {
  margin-left: -2px !important
}

.mgl-4 {
  margin-left: -4px !important
}

.mgl-5 {
  margin-left: -5px !important
}

.mgl-8 {
  margin-left: -8px !important
}

.mgl-10 {
  margin-left: -10px !important
}

.mgl-15 {
  margin-left: -15px !important
}

.mgl-18 {
  margin-left: -18px !important
}

.mgl-20 {
  margin-left: -20px !important
}

.mgl-40 {
  margin-left: -40px !important
}

.mgl-60 {
  margin-left: -60px !important
}

.mgl0 {
  margin-left: 0 !important
}

.mgl3 {
  margin-left: 3px !important
}

.mgl4 {
  margin-left: 4px !important
}

.mgl5 {
  margin-left: 5px !important
}

.mgl6 {
  margin-left: 6px !important
}

.mgl7 {
  margin-left: 7px !important
}

.mgl8 {
  margin-left: 8px !important
}

.mgl9 {
  margin-left: 9px !important
}

.mgl10 {
  margin-left: 10px !important
}

.mgl13 {
  margin-left: 13px !important
}

.mgl14 {
  margin-left: 14px !important
}

.mgl17 {
  margin-left: 17px !important
}

.mgb12 {
  margin-bottom: 12px !important
}

.mgb12 {
  margin-bottom: 12px !important
}

.mgl15 {
  margin-left: 15px !important
}

.mgl17 {
  margin-left: 17px !important
}

.mgl18 {
  margin-left: 18px !important
}

.mgl19 {
  margin-left: 19px !important
}

.mgl20 {
  margin-left: 20px !important
}

.mgl23 {
  margin-left: 23px !important
}

.mgl25 {
  margin-left: 25px !important
}

.mgl27 {
  margin-left: 27px !important
}

.mgl28 {
  margin-left: 28px !important
}

.mgl30 {
  margin-left: 30px !important
}

.mgl35 {
  margin-left: 35px !important
}

.mgl40 {
  margin-left: 40px !important
}

.mgl50 {
  margin-left: 50px !important
}

.mgl55 {
  margin-left: 55px !important
}

.mgl60 {
  margin-left: 60px !important
}

.mgl76 {
  margin-left: 76px !important
}

.mgl90 {
  margin-left: 90px !important
}

.mgl100 {
  margin-left: 100px !important
}

.mgl175 {
  margin-left: 175px !important
}

.mgl179 {
  margin-left: 179px !important
}

.mgl184 {
  margin-left: 184px !important
}

.mgl190 {
  margin-left: 190px !important
}

.mgl225 {
  margin-left: 225px !important
}

.mgl255 {
  margin-left: 255px !important
}

.mgl260 {
  margin-left: 260px !important
}

.mgr-4 {
  margin-right: -4px !important
}

.mgr0 {
  margin-right: 0 !important
}

.mgr1 {
  margin-right: 1px !important
}

.mgr3 {
  margin-right: 3px !important
}

.mgr4 {
  margin-right: 4px !important
}

.mgr5 {
  margin-right: 5px !important
}

.mgr6 {
  margin-right: 6px !important
}

.mgr7 {
  margin-right: 7px !important
}

.mgr8 {
  margin-right: 8px !important
}

.mgr9 {
  margin-right: 9px !important
}

.mgr10 {
  margin-right: 10px !important
}

.mgr13 {
  margin-right: 13px !important
}

.mgr14 {
  margin-right: 14px !important
}

.mgr15 {
  margin-right: 15px !important
}

.mgr16 {
  margin-right: 16px !important
}

.mgr17 {
  margin-right: 17px !important
}

.mgr18 {
  margin-right: 18px !important
}

.mgr19 {
  margin-right: 19px !important
}

.mgr20 {
  margin-right: 20px !important
}

.mgr22 {
  margin-right: 22px !important
}

.mgr23 {
  margin-right: 23px !important
}

.mgr24 {
  margin-right: 24px !important
}

.mgr25 {
  margin-right: 25px !important
}

.mgr26 {
  margin-right: 26px !important
}

.mgr27 {
  margin-right: 27px !important
}

.mgr28 {
  margin-right: 28px !important
}

.mgr30 {
  margin-right: 30px !important
}

.mgr32 {
  margin-right: 32px !important
}

.mgr34 {
  margin-right: 34px !important
}

.mgr35 {
  margin-right: 35px !important
}

.mgr36 {
  margin-right: 36px !important
}

.mgr38 {
  margin-right: 38px !important
}

.mgr40 {
  margin-right: 40px !important
}

.mgr43 {
  margin-right: 43px !important
}

.mgr44 {
  margin-right: 44px !important
}

.mgr45 {
  margin-right: 45px !important
}

.mgr50 {
  margin-right: 50px !important
}

.mgr52 {
  margin-right: 52px !important
}

.mgr55 {
  margin-right: 55px !important
}

.mgr57 {
  margin-right: 57px !important
}

.mgr58 {
  margin-right: 58px !important
}

.mgl59 {
  margin-left: 59px !important
}

.mgr60 {
  margin-right: 60px !important
}

.mgr64 {
  margin-right: 64px !important
}

.mgr69 {
  margin-right: 69px !important
}

.mgr255 {
  margin-right: 255px !important
}

.mgr313 {
  margin-right: 313px !important
}

.mgl66 {
  margin-left: 66px !important
}

.mgt-31 {
  margin-top: -31px
}

.mgt4 {
  margin-top: 4px
}

.mgt8 {
  margin-top: 8px
}

.mgt11 {
  margin-top: 11px
}

.mgt13 {
  margin-top: 13px
}

.mgt15 {
  margin-top: 15px
}

.mgt16 {
  margin-top: 16px
}

.mgt18 {
  margin-top: 18px
}

.mgt36 {
  margin-top: 36px
}

.mgt60 {
  margin-top: 60px
}

.mgt80 {
  margin-top: 80px !important
}

.mgt90 {
  margin-top: 90px
}

.mgr23 {
  margin-right: 23px
}

.mgr24 {
  margin-right: 24px
}

.mgt75 {
  margin-top: 75px !important
}

.mgb48 {
  margin-bottom: 48px !important
}

.mgb23 {
  margin-bottom: 23px !important
}

.mgb24 {
  margin-bottom: 24px !important
}

.mgl12 {
  margin-left: 12px !important
}

.mgb32 {
  margin-bottom: 32px !important
}

.mgt37 {
  margin-top: 37px !important
}

.mgb-4 {
  margin-bottom: -4px !important
}

.mgb-3 {
  margin-bottom: -3px !important
}

.mgb5 {
  margin-bottom: 5px !important
}

.mgb17 {
  margin-bottom: 17px !important
}

.mgb29 {
  margin-bottom: 29px !important
}

.mgb36 {
  margin-bottom: 36px !important
}

.mgb38 {
  margin-bottom: 38px !important
}

.mgb39 {
  margin-bottom: 39px !important
}

.mgl76 {
  margin-left: 76px
}

.mgl-17 {
  margin-left: -17px !important
}

.mgl-18 {
  margin-left: -18px !important
}

.mgr90 {
  margin-right: 90px !important
}

.mgb1 {
  margin-bottom: 1px !important
}

.mgt0 {
  margin-top: 0 !important
}

.mgt13 {
  margin-top: 13 !important
}

.mgt-4 {
  margin-top: -4px !important
}

.mgr1 {
  margin-right: 1px !important
}

.mgr2 {
  margin-right: 2px !important
}

.mgt-29 {
  margin-top: -29px !important
}

.mgt-59 {
  margin-top: -59px !important
}

.mgt39 {
  margin-top: 39px !important
}

.mgt49 {
  margin-top: 49px !important
}

.mgt54 {
  margin-top: 54px !important
}

.mgt67 {
  margin-top: 67px !important
}

.mgb27 {
  margin-bottom: 27px !important
}

.mgb24 {
  margin-bottom: 24px !important
}

.mgb2 {
  margin-bottom: 1px !important
}

.mgb31 {
  margin-bottom: 31px !important
}

.mgb34 {
  margin-bottom: 34px !important
}

.mgb37 {
  margin-bottom: 37px !important
}

.mgb39 {
  margin-bottom: 39px !important
}

.mgb40 {
  margin-bottom: 40px !important
}

.mal12 {
  margin-left: 12px !important
}

.mgl46 {
  margin-left: 46px !important
}

.mgl47 {
  margin-left: 47px !important
}

.mgl51 {
  margin-left: 51px !important
}

.mgl80 {
  margin-left: 80px !important
}

.mgl23 {
  margin-left: 23px
}

.mgt82 {
  margin-top: 82px !important
}

.mgr12 {
  margin-right: 12px !important
}

.mgl2 {
  margin-left: 2px !important
}

.mgt-30 {
  margin-top: -30px !important
}

.pa0 {
  padding: 0 !important
}

.pa2 {
  padding: 2px !important
}

.pa20 {
  padding: 20px !important
}

.pat0 {
  padding-top: 0 !important
}

.pat2 {
  padding-top: 2px !important
}

.pat3 {
  padding-top: 3px !important
}

.pat5 {
  padding-top: 5px !important
}

.pat7 {
  padding-top: 7px !important
}

.pat10 {
  padding-top: 10px !important
}

.pat12 {
  padding-top: 12px !important
}

.pat15 {
  padding-top: 15px !important
}

.pat16 {
  padding-top: 16px !important
}

.pat18 {
  padding-top: 18px !important
}

.pat20 {
  padding-top: 20px !important
}

.pat22 {
  padding-top: 22px !important
}

.pat24 {
  padding-top: 24px !important
}

.pat25 {
  padding-top: 25px !important
}

.pat26 {
  padding-top: 26px !important
}

.pat30 {
  padding-top: 30px !important
}

.pat33 {
  padding-top: 33px !important
}

.pat35 {
  padding-top: 35px !important
}

.pat40 {
  padding-top: 40px !important
}

.pat50 {
  padding-top: 50px !important
}

.pat60 {
  padding-top: 60px !important
}

.pab0 {
  padding-bottom: 0 !important
}

.pab2 {
  padding-bottom: 2px !important
}

.pab5 {
  padding-bottom: 5px !important
}

.pab7 {
  padding-bottom: 7px !important
}

.pab10 {
  padding-bottom: 10px !important
}

.pab15 {
  padding-bottom: 15px !important
}

.pab16 {
  padding-bottom: 16px !important
}

.pab20 {
  padding-bottom: 20px !important
}

.pat24 {
  padding-bottom: 24px !important
}

.pab25 {
  padding-bottom: 25px !important
}

.pab27 {
  padding-bottom: 27px !important
}

.pab30 {
  padding-bottom: 35px !important
}

.pab35 {
  padding-bottom: 35px !important
}

.pab39 {
  padding-bottom: 39px !important
}

.pab40 {
  padding-bottom: 40px !important
}

.pab45 {
  padding-bottom: 45px !important
}

.pab50 {
  padding-bottom: 50px !important
}

.pab60 {
  padding-bottom: 60px !important
}

.pab70 {
  padding-bottom: 70px !important
}

.pal0 {
  padding-left: 0 !important
}

.pal5 {
  padding-left: 5px !important
}

.pal8 {
  padding-left: 8px !important
}

.pal10 {
  padding-left: 10px !important
}

.pal12 {
  padding-left: 12px
}

.pal15 {
  padding-left: 15px !important
}

.pal19 {
  padding-left: 19px !important
}

.pal20 {
  padding-left: 20px !important
}

.pal25 {
  padding-left: 25px !important
}

.pal30 {
  padding-left: 30px !important
}

.pal35 {
  padding-left: 35px !important
}

.pal40 {
  padding-left: 40px !important
}

.pal50 {
  padding-left: 50px !important
}

.pal69 {
  padding-left: 69px !important
}

.pal324 {
  padding-left: 324px !important
}

.par0 {
  padding-right: 0 !important
}

.par2 {
  padding-right: 2px !important
}

.par5 {
  padding-right: 5px !important
}

.par8 {
  padding-right: 8px !important
}

.par9 {
  padding-right: 9px !important
}

.par10 {
  padding-right: 10px !important
}

.par15 {
  padding-right: 15px !important
}

.par20 {
  padding-right: 20px !important
}

.par22 {
  padding-right: 22px !important
}

.par25 {
  padding-right: 25px !important
}

.par30 {
  padding-right: 30px !important
}

.par34 {
  padding-right: 34px !important
}

.par40 {
  padding-right: 40px !important
}

.par50 {
  padding-right: 50px !important
}

.par54 {
  padding-right: 54px !important
}

.pal88 {
  padding-left: 88px !important
}

.pal124 {
  padding-left: 124px !important
}

.par12 {
  padding-right: 12px !important
}

.par31 {
  padding-right: 31px !important
}

.pal36 {
  padding-left: 36px
}

.pat2 {
  padding: 2px 0 0 0
}

.pal2 {
  padding-left: 2px !important
}

.pal16 {
  padding-left: 16px !important
}

.pal60 {
  padding-left: 60px !important
}

.par6 {
  padding-right: 6px !important
}

.par150 {
  padding-right: 150px !important
}

.par7 {
  padding-right: 7px !important
}

.pat0 {
  padding-top: 0 !important
}

.pat8 {
  padding-top: 8px !important
}

.pat44 {
  padding-top: 44px !important
}

.patb_ex {
  padding-top: 18px !important;
  padding-bottom: 13px !important
}

.pab35 {
  padding-bottom: 35px !important
}

.bodb0 {
  border-bottom: 0 !important
}