@charset "utf-8";

.base-wrap {
  background: url(/resources/images/common/bg_linetop.gif) 0 0 repeat-x
}

.ui-breakguide {
  background: #fff
}

.base-wrap .base-header,
.base-wrap .base-mContainer,
.base-wrap .base-container {
  opacity: 0
}

.base-wrap.loaded .base-header,
.base-wrap.loaded .base-mContainer,
.base-wrap.loaded .base-container {
  opacity: 1
}

.type-iframe .base-wrap {
  background-image: none
}

.type-iframe .base-wrap .base-header,
.type-iframe .base-wrap .base-mContainer,
.type-iframe .base-wrap .base-container {
  opacity: 0;
  transition: opacity .5s
}

.type-iframe .base-wrap.loaded .base-header,
.type-iframe .base-wrap.loaded .base-mContainer,
.type-iframe .base-wrap.loaded .base-container {
  opacity: 1
}

.type-iframe .sidebar-control {
  display: none
}

.type-iframe .ui-breakguide,
.type-iframe .navi-current,
.type-iframe .base-header,
.type-iframe .base-skip,
.type-iframe .base-side,
.type-iframe .base-footer {
  display: none !important
}

.type-iframe .base-container {
  width: 955px;
  padding: 0 30px 30px;
  margin: 0
}

.type-iframe .base-wrap {
  min-width: 0
}

iframe:focus {
  outline: 1px solid #000
}

.page-full .base-footer {
  margin: 0
}

.page-full .product-banner {
  width: 1180px;
  margin: 0 auto 50px
}

.page-full .prdt-banner-wrap>li {
  width: 555px
}

.html-iframe {
  overflow: hidden;
  padding-right: 9px
}

.html-iframe body {
  overflow: hidden;
  padding-right: 9px
}

.html-iframe body.type-fixed-bottom {
  padding: 77px 0 91px 0;
  min-width: 965px
}

.html-iframe body.type-fixed-bottom>.mCustomScrollBox>.mCS_no_scrollbar_y {
  padding-right: 7px
}

.wrap-iframe {
  background: #fff;
  height: 100%;
  overflow: auto
}

.ui-modal-cont.type-iframe {
  padding: 0
}

.wrap-iframe .ui-modal-tit {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
  z-index: 1
}

.wrap-iframe .ui-modal-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff
}

.wrap-iframe .ui-modal-cont {
  padding: 0 35px 35px 35px;
  position: relative;
  z-index: 0;
  height: auto
}

.wrap-iframe .ui-modal-cont .mCS_no_scrollbar_y {
  height: auto
}

.ui-progress {
  width: 100%;
  height: 100%
}

.ui-progress-item {
  display: none;
  width: 100%;
  height: auto
}

.ui-progress-item.n1 {
  display: inline-block
}

.page-pu010301_021 .ui-modal-cont .ui-progress-item.n3,
.page-pu010301_021 .ui-modal-cont .ui-progress-item.n2,
.page-pu010301_007 .ui-modal-cont .ui-progress-item.n3,
.page-pu010301_007 .ui-modal-cont .ui-progress-item.n2 {
  min-height: 360px
}

.certifled-ing {
  margin: 50px 0;
  font-size: 25px;
  line-height: 1;
  font-weight: 300;
  color: #000;
  letter-spacing: -2.5px;
  text-align: center
}

.div-guide {
  display: none
}

.inner-layout {
  position: relative;
  width: 1180px;
  margin: 0 auto
}

.inner-layout:after {
  content: "";
  display: block;
  clear: both
}

.base-layer {
  position: relative;
  z-index: 20
}

.base-layer.under {
  z-index: 0
}

.base-wrap {
  position: relative;
  z-index: 0;
  width: 100%;
  min-width: 1180px
}

.base-container {
  position: relative;
  z-index: 1;
  width: 1180px;
  padding: 0;
  margin: 0 auto 0 auto
}

.base-container:after {
  content: "";
  display: block;
  clear: both
}

.base-content {
  position: relative;
  display: inline-block;
  width: 100%
}

.base-side {
  width: 235px;
  float: left;
  padding: 43px 0 0;
  position: relative;
  z-index: 1;
  letter-spacing: -0.07em
}

.base-main {
  width: 895px;
  float: right;
  position: relative;
  z-index: 0
}

.base-skip {
  position: fixed;
  z-index: 30;
  width: 100%;
  left: 0;
  top: 0
}

.skip-wrap a {
  position: fixed;
  top: -36px;
  display: inline-block;
  padding: 6px 10px;
  color: #fff;
  width: 100%;
  height: 36px;
  text-align: center;
  background: #2177ce
}

.skip-wrap a:focus {
  top: 0
}

.base-header {
  position: relative;
  width: 100%;
  min-height: 148px;
  z-index: 2;
  border-bottom: 1px solid #76b2ec;
  background: #3b92e5
}

.base-header-wrap {
  position: relative;
  margin: 0 auto;
  z-index: 1
}

.base-header-wrap .util-wrap {
  height: 40px;
  position: relative;
  border-bottom: 1px solid #76b2ec;
  z-index: 1
}

.base-header-wrap .util-wrap a {
  letter-spacing: -0.45px
}

.base-header-wrap .logo-SSFD {
  position: absolute;
  top: 65px;
  left: 0;
  padding: 0;
  line-height: 1
}

.ie .base-header-wrap .logo-SSFD {
  top: 60px
}

.base-header-wrap .util-right {
  position: absolute;
  top: 5px;
  right: 0;
  width: auto;
  max-height: 26px;
  line-height: 26px
}

.base-header-wrap .util-right li {
  float: left;
  list-style: none
}

.base-header-wrap .util-right li a {
  color: #c5ddff;
  font-size: 14px;
  font-weight: 300
}

.base-header-wrap .util-right li a:hover,
.base-header-wrap .util-right li a:focus {
  color: #fff;
  border-color: #fff;
  background: #165da5
}

.base-header-wrap .util-right li input {
  vertical-align: middle
}

.base-header-wrap .service-tab {
  position: absolute;
  top: 76px;
  left: 280px;
  font-size: 14px
}

.base-header-wrap .service-tab ul {
  display: inline-block;
  background: #76b2ec;
  border-radius: 30px;
  padding: 4px
}

.base-header-wrap .service-tab ul:after {
  content: "";
  display: block;
  clear: both
}

.base-header-wrap .service-tab li {
  float: left;
  padding: 0 10px;
  line-height: 30px;
  list-style: none
}

.base-header-wrap .service-tab li span {
  display: none
}

.base-header-wrap .service-tab li.on {
  background-color: #fff;
  border-radius: 30px
}

.base-header-wrap .service-tab li.on span {
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
  color: transparent;
  overflow: hidden;
  font-size: xx-small;
  line-height: 0
}

.ie8 .base-header-wrap .service-tab li.on span {
  text-indent: -9999px
}

.base-header-wrap .service-tab li.on a {
  color: #2c7fdf
}

.base-header-wrap .service-tab li a {
  color: #d6e8f9;
  font-weight: 500
}

.base-header-wrap .service-link,
.base-header-wrap .top-search,
.base-header-wrap .top-membership {
  float: left;
  width: auto
}

.base-header-wrap .service-link a {
  margin-right: 15px;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  display: inline-block;
  padding-top: 1px
}

.ie .base-header-wrap .service-link a {
  padding-top: 0
}

.base-header-wrap .service-link a:hover,
.base-header-wrap .service-link a:focus {
  color: #fff
}

.base-header-wrap .top-search {
  position: relative;
  margin-left: 5px
}

.base-header-wrap .top-search input {
  width: 162px;
  height: 26px;
  padding-left: 5px;
  color: #c5ddff;
  font-size: 13px;
  border: 1px solid #6694d0;
  border-radius: 2px;
  background: transparent;
  vertical-align: middle
}

.ie8 .base-header-wrap .top-search input {
  text-indent: -9999px
}

.base-header-wrap .top-search input:focus {
  border-color: #fff
}

.base-header-wrap .top-search .btn-util-search {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 13px;
  height: 13px;
  background: url('/resources/images/dummy/ico_search_top_util.png') 0 0 no-repeat
}

.base-header-wrap .top-membership {
  font-size: 0
}

.base-header-wrap .top-membership a {
  margin-left: 0;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  display: inline-block;
  padding-top: 1px
}

.ie .base-header-wrap .top-membership a {
  line-height: 23px
}

.base-header-wrap .bf-login a {
  background: #fff;
  border-radius: 20px;
  padding: 0 12px;
  color: #448ee3
}

.base-header-wrap .top-membership .direct_link {
  padding-right: 20px;
  background: url(/resources/images/common/bl_direct_link.png) 100% 50% no-repeat;
  border-color: #60cffc;
  color: #60cffc
}

.base-header-wrap .af-login {
  margin-left: 20px
}

.base-header-wrap .af-login button {
  color: #c5ddff;
  display: inline-block;
  position: relative;
  height: 27px;
  padding: 0 9px;
  margin: 0 11px 0 -4px;
  vertical-align: top;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  border: 1px solid #7aade2;
  box-sizing: border-box
}

.base-header-wrap .af-login button+button {
  margin-left: 3px
}

.base-header-wrap .top-membership .direct_link:hover {
  border-color: #60cffc;
  color: #60cffc;
  background-color: #013696
}

.btn-extend:before {
  content: '';
  display: inline-block;
  position: relative;
  top: 2px;
  width: 15px;
  height: 15px;
  margin-right: 4px;
  background: url('/resources/images/common/ico_bul.png') no-repeat -180px -30px
}

.util-menu {
  position: absolute;
  right: 2px;
  bottom: 33px
}

.page-corp .util-menu .util-menu-wrap:first-child {
  display: none
}

.util-menu-wrap {
  float: left;
  height: 42px
}

.util-menu .ui-utilmy-after,
.state-login .util-menu .ui-utilmy-before {
  display: none
}

.state-login .util-menu .ui-utilmy-after {
  display: block;
  min-height: 170px
}

.btn-mypage {
  position: relative;
  width: 45px;
  height: 42px;
  overflow: hidden;
  background: url('/resources/images/common/ico_btn.png') no-repeat 5px -146px
}

.btn-allsrch {
  margin-left: 9px;
  width: 45px;
  height: 42px;
  overflow: hidden;
  background: url('/resources/images/main/main_bg_icon.png') no-repeat -102px -54px;
  background-size: 150px
}

.btn-prod {
  margin-left: 9px;
  width: 45px;
  height: 42px;
  overflow: hidden;
  background: url('/resources/images/common/ico_btn.png?ver=20200710') no-repeat 6px -335px
}

.btn-calc {
  margin-left: 9px;
  width: 45px;
  height: 42px;
  overflow: hidden;
  background: url('/resources/images/common/ico_btn.png') no-repeat -115px -146px
}

.btn-calc[aria-expanded="true"] {
  background-position: -170px -147px
}

.ui-drop-box {
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.2)
}

.box-util {
  width: 434px;
  outline: 0
}

.box-util:before {
  content: "";
  position: absolute;
  top: 9px;
  display: block;
  width: 30px;
  height: 9px;
  background: url('/resources/images/common/ico_bul.png') no-repeat -142px -120px
}

.box-calc:before {
  content: "";
  position: absolute;
  top: 9px;
  display: block;
  width: 30px;
  height: 9px;
  background: url('/resources/images/common/ico_bul.png') no-repeat -180px -80px
}

.box-srch:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 6px 8px;
  border-color: #fff transparent;
  display: block;
  width: 0;
  top: 8px;
  right: 9px;
  margin-left: -4px
}

.box-prod:before {
  content: "";
  position: absolute;
  top: 8px;
  right: -1px;
  display: block;
  width: 30px;
  height: 9px;
  background: url('/resources/images/common/ico_bul.png?ver=20200710') no-repeat -180px -120px
}

.box-util:before {
  right: 7px
}

.box-calc:before {
  right: -2px
}

.box-util .ui-drop-box {
  position: relative;
  border: 3px solid #0958a6;
  background: #fff;
  width: 434px;
  margin: 17px 0 0 102px;
  min-height: 130px
}

.box-srch .ui-drop-box {
  border: 0;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  background: #fff;
  width: 730px;
  margin: 16px -26px 0 41px;
  padding: 0;
  overflow: hidden
}

.box-srch .ui-drop-box:after {
  content: '';
  display: block;
  clear: both
}

.box-calc .ui-drop-box {
  border: 2px solid #141f2f;
  background: #fff;
  width: 1180px;
  margin: 17px -4px 0 0
}

.box-prod .ui-drop-box {
  border: 1px solid #767676;
  background: #fff;
  width: 487px;
  margin: 16px -59px 0 0;
  padding: 0;
  overflow: hidden
}

.box-calc a {
  letter-spacing: -0.05rem
}

.ico-new {
  display: block;
  width: 17px;
  height: 17px;
  background: url('/resources/images/common/ico_btn.png') no-repeat -150px -120px
}

.btn-mypage .ico-new {
  display: none;
  position: absolute;
  top: 0;
  right: 0
}

.btn-alarm .ico-new {
  display: none
}

.btn-mypage.on .ico-new {
  display: block
}

.util-menu-wrap.on .ico-new {
  display: block !important
}

.page-g .base-header-wrap .util-wrap {
  background: #3a3a3a
}

.page-g .base-header-wrap .util-right,
.page-g .base-header-wrap .util-menu {
  display: none
}

.page-g .gn-wrap {
  padding-right: 0;
  margin-right: 304px
}

.util-header {
  height: 92px;
  background: #fff
}

.util-header:after {
  content: '';
  display: block;
  clear: both
}

.util-header p {
  float: left;
  padding: 18px 10px 19px;
  margin: 0;
  font-size: 19px;
  color: #000;
  font-weight: 500;
  letter-spacing: -0.05em
}

.util-header .before-txt {
  position: relative;
  padding-left: 75px
}

.util-header .before-txt:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 20px;
  width: 44px;
  height: 44px;
  margin-top: -22px;
  background: url(/resources/images/common/ico_bul.png) -150px -290px no-repeat
}

.util-header .before-txt em {
  font-weight: 300
}

.util-header p:focus {
  outline: 0
}

.util-header p:focus span {
  display: inline-block;
  border-bottom: 1px solid #ccc
}

.util-header .btn-alarm {
  display: none;
  position: relative;
  float: right;
  padding: 10px 18px
}

.util-header .btn-alarm .ico-new {
  position: absolute;
  top: 4px;
  right: 11px
}

.util-header .btn-alarm:before {
  content: '';
  display: none;
  width: 22px;
  height: 28px;
  background: url(/resources/images/common/ico_bul.png) -150px -260px no-repeat
}

.util-header .btn-alarm span {
  position: absolute;
  top: -1px;
  right: 0;
  display: block;
  width: 17px;
  height: 17px;
  line-height: 17px;
  font-size: 10px;
  color: #fff;
  border-radius: 100%;
  background: #ff6646;
  text-align: center
}

.state-login .util-header {
  height: 42px;
  background: #0958a6
}

.state-login .util-header p {
  padding: 7px 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 300
}

.state-login .util-header p span {
  font-weight: 500
}

.state-login .util-header .btn-alarm {
  display: block;
  padding: 5px 20px
}

.state-login .util-header .btn-alarm:before {
  display: block
}

.util-info {
  position: relative;
  width: 330px;
  margin: 0 auto;
  letter-spacing: -0.05em;
  background: #fff
}

.util-info>img {
  display: block
}

.util-info+.util-info {
  margin-top: 5px
}

.util-info [class*="tit-ico"] {
  position: relative;
  padding-left: 32px;
  font-size: 19px;
  font-weight: 500
}

.util-info [class*="tit-ico"]:before {
  content: '';
  display: block;
  width: 24px;
  height: 23px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -12px;
  background: url(/resources/images/common/ico_bul.png) 0 -260px no-repeat
}

.util-info [class*="tit-ico"] em {
  font-weight: 300
}

.util-info .tit-ico2:before {
  background-position: -30px -260px
}

.util-info .tit-ico3:before {
  background-position: -60px -260px
}

.util-info .tit-ico4:before {
  background-position: -90px -260px
}

.util-info .info-txt {
  margin-top: 10px;
  font-size: 15px;
  color: #222;
  line-height: 25px
}

.util-info .info-txt>li {
  font-weight: 300;
  color: #444
}

.util-info .info-txt>li a {
  width: 100%;
  color: inherit
}

.util-info .info-txt>li .title {
  display: inline-block;
  max-width: 230px;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.util-info .info-txt>li .label {
  display: inline-block;
  height: 20px;
  line-height: 19px;
  font-size: 13px;
  font-weight: 500;
  color: #003f97;
  margin-left: 5px;
  padding: 0 4px;
  border: 1px solid #003f97;
  border-radius: 2px;
  vertical-align: middle
}

.util-info .info-txt>li .etc {
  display: inline-block;
  min-width: 30px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  margin-left: 5px;
  background: #ff6646;
  border-radius: 10px;
  text-align: center
}

.util-info .info-user {
  margin-top: 10px;
  line-height: 25px
}

.util-info .info-user:after {
  content: '';
  display: block;
  clear: both
}

.util-info .info-user dt {
  display: inline-block;
  font-weight: 300
}

.util-info .info-user dd {
  display: inline-block;
  margin-left: 2px;
  text-align: left
}

.state-login .util-info {
  width: auto;
  padding: 10px 0 15px;
  margin: 0 20px
}

.state-login .util-info-wrap {
  width: 100%
}

.state-login .util-info-wrap>li {
  border-bottom: 1px solid #ccc
}

.state-login .util-info .btn-more {
  right: 0
}

.box-util .btn-more {
  display: inline-block;
  font-size: 14px;
  color: #444
}

.box-util .btn-more:after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 13px;
  margin-left: 9px;
  background: url(/resources/images/common/ico_bul.png) -180px -150px no-repeat;
  vertical-align: -1px
}

.util-info .btn-more {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #666
}

.util-footer {
  background: #fff;
  margin: 23px 0 23px;
  text-align: center
}

.util-footer .btn-login {
  display: inline-block;
  width: 200px;
  height: 50px;
  font-size: 19px;
  color: #fff;
  font-weight: 300;
  line-height: 50px;
  background: #767676
}

.util-footer .btn-more {
  padding: 5px;
  font-size: 14px;
  color: #222;
  font-weight: 500;
  letter-spacing: -.035em
}

.util-footer .btn-more:after {
  background-position: -180px -150px;
  vertical-align: -2px
}

.state-login .util-footer {
  margin: 0;
  padding: 6px 16px;
  text-align: right
}

.box-util .layer-alarm {
  position: absolute;
  top: 41px;
  right: -3px;
  z-index: 1;
  width: 434px
}

.layer-alarm {
  display: none;
  padding: 0 3px 3px
}

.layer-alarm.on {
  display: block
}

.layer-alarm:before {
  content: "";
  position: absolute;
  top: -6px;
  right: 18px;
  display: block;
  width: 30px;
  height: 9px;
  background: url('/resources/images/common/ico_bul.png') no-repeat -180px -100px
}

.layer-alarm>.mCS_yes_scrollbar {
  padding-right: 0
}

.layer-alarm>div {
  padding: 15px 12px;
  background: #fff;
  letter-spacing: -0.05em;
  max-height: 564px;
  overflow-y: auto;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2)
}

.layer-alarm dl {
  padding: 10px 5px;
  border-bottom: 1px dashed #ccc
}

.layer-alarm dl:first-child {
  padding-top: 0
}

.layer-alarm dt {
  font-size: 19px;
  color: #222;
  font-weight: 500;
  letter-spacing: -0.07em
}

.layer-alarm dd {
  margin-top: 10px;
  color: #222;
  line-height: 24px;
  font-weight: 500
}

.layer-alarm dd strong {
  display: block;
  font-weight: 600
}

.layer-alarm dd .btn-more {
  margin-top: 10px;
  font-weight: 400
}

.layer-alarm dd .btn-more:after {
  width: 6px;
  height: 9px;
  margin-left: 3px;
  background-position: -180px -260px;
  vertical-align: 0
}

.layer-alarm .btn-ly-close {
  margin-top: 15px;
  text-align: center
}

.layer-alarm .btn-ly-close button {
  display: inline-block;
  width: 74px;
  height: 35px;
  border: 1px solid #ccc;
  font-size: 14px;
  color: #000
}

.mCS_yes_scrollbar dl {
  margin-right: 27px
}

#uiUtlSrchResult .mCSB_outside+.mCSB_scrollTools {
  right: -16px
}

.box-srch>div {
  padding: 17px 36px 20px
}

.box-srch .srch-wrap {
  float: left;
  width: 735px;
  min-height: 600px;
  padding: 25px 40px;
  background: #fff
}

.ie8 .box-srch .srch-wrap {
  min-height: 550px
}

.box-srch .srch-area {
  position: relative;
  border-bottom: 3px solid #000
}

.srch-area .inp-srch {
  width: 100%;
  height: 50px;
  padding: 10px 28px 10px 0;
  border: 0;
  font-size: 23px;
  font-weight: 300;
  color: #000
}

.srch-area .inp-srch:focus {
  outline: 0
}

.srch-area .btn-srch {
  position: absolute;
  top: 0;
  right: 0
}

.srch-area .btn-srch:after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  background: url(/resources/images/common/ico_btn.png) no-repeat -53px -141px
}

.result-wrap {
  max-height: 470px;
  overflow-y: auto
}

.result-wrap .none-txt {
  margin-top: 205px;
  font-size: 22px;
  font-weight: 300;
  color: #444;
  text-align: center
}

.result-wrap .none-txt em {
  color: #000;
  font-weight: 500
}

.srch-result-txt {
  min-height: 80px;
  margin-top: 20px;
  padding: 24px 15px;
  font-size: 22px;
  color: #000;
  font-weight: 500;
  background: #f7f7f9;
  text-align: center
}

.ie8 .srch-result-txt {
  min-height: 32px
}

.srch-result-txt em {
  color: #1e78d0
}

.recent-srch .tit {
  display: block;
  margin-top: 30px;
  font-size: 17px;
  font-weight: 500;
  color: #222
}

.resrch-list {
  margin-top: 15px
}

.resrch-list>li {
  position: relative;
  width: 100%;
  height: 60px;
  margin-top: 5px;
  padding: 19px 75px 17px 20px;
  color: #444;
  font-weight: 300px;
  font-size: 17px;
  background: #f7f7f9
}

.resrch-list>li:after {
  content: '';
  display: block;
  clear: both
}

.resrch-list>li:first-child {
  margin-top: 0
}

.resrch-list>li .title {
  float: left
}

.resrch-list>li .date {
  float: right
}

.resrch-list .btn-close {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 30px;
  height: 30px;
  margin-top: -15px
}

.resrch-list .btn-close:before {
  width: 30px;
  height: 30px;
  background: url(/resources/images/common/ico_btn.png) -172px -263px
}

.result-list {
  margin-top: 15px;
  max-height: 355px
}

.result-list li a {
  display: block;
  width: 100%;
  padding: 10px
}

.result-list li a strong {
  display: block;
  width: 100%;
  font-size: 17px;
  font-weight: 300;
  color: #000
}

.result-list li a em {
  color: #1e78d0 !important
}

.result-list li a span {
  font-size: 15px;
  color: #444;
  font-weight: 300
}

.result-list li a:hover,
.result-list li a:focus {
  background: #eef5fb
}

.rprdt-list {
  margin-top: 15px
}

.rprdt-list>li {
  display: table;
  position: relative;
  width: 100%;
  min-height: 88px;
  border-top: 1px solid #e2e2e2
}

.rprdt-list>li:first-child {
  border-top: 0
}

.rprdt-list>li strong {
  display: table-cell;
  position: relative;
  width: 205px;
  padding-left: 70px;
  font-size: 17px;
  line-height: 1.2;
  color: #000;
  font-weight: 500;
  vertical-align: middle
}

.rprdt-list>li strong:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  background-image: url(/resources/images/common/ico_prdt_small.png);
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 50%
}

.rprdt-list>li .btn-wrap {
  display: table-cell;
  margin: 0;
  vertical-align: middle
}

.rprdt-list>li .btn-wrap [class*="btn-"] {
  margin: 0 0 0 5px
}

.prdt-01:before {
  background-position: 0 0
}

.prdt-02:before {
  background-position: -100px 0
}

.prdt-03:before {
  background-position: -200px 0
}

.rprdt-wrap {
  float: left;
  width: 443px;
  min-height: 600px;
  background: #f7f7f9;
  padding: 53px 30px 20px
}

.ie8 .rprdt-wrap {
  min-height: 527px
}

.rprdt-wrap .tit {
  font-size: 17px;
  font-weight: 500
}

.calc-list {
  position: relative;
  width: 100%;
  height: 100%;
  background: 0;
  padding: 25px 35px 30px
}

.calc-list:after {
  content: '';
  display: block;
  clear: both
}

.calc-list>li {
  float: left;
  width: 189px;
  height: 100%;
  margin-left: 40px
}

.calc-list>li:first-child {
  margin-left: 0
}

.calc-list dt {
  margin-bottom: 20px;
  font-size: 19px;
  font-weight: 500;
  color: #000;
  text-align: center
}

.calc-list dd span,
.calc-list dd a {
  position: relative;
  display: block;
  width: 100%;
  height: 53px;
  margin-top: 10px;
  color: #000;
  font-size: 15px;
  font-weight: 500;
  padding: 6px 10px;
  border: 1px solid #d7d7d7;
  border-radius: 2px;
  letter-spacing: -0.07em
}

.ie8 .calc-list dd a {
  font-size: 13px
}

.calc-list dd span em,
.calc-list dd a em {
  display: block;
  color: #1e78d0;
  font-size: 13px;
  font-weight: 300
}

.calc-list dd a:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  width: 8px;
  height: 13px;
  margin-top: -6.5px;
  background: url('/resources/images/common/ico_bul.png') no-repeat -180px -150px
}

.calc-list .txt-call em {
  position: relative;
  top: -4px;
  display: inline-block;
  padding-left: 12px;
  color: #000
}

.calc-list .txt-call em:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 10px;
  height: 12px;
  margin-top: -6px;
  background: url(/resources/images/common/ico_bul.png) -30px -80px no-repeat
}

.page-corp .div-prsn,
.div-corp {
  display: none
}

.div-prsn,
.page-corp .div-corp {
  display: inline-block
}

.bf-login {
  display: inline-block;
  margin-left: 16px
}

.af-login,
.state-login .bf-login {
  display: none
}

.state-login .af-login {
  display: inline-block
}

.ui-utilmy-after,
.state-login .ui-utilmy-before {
  display: none
}

.state-login .ui-utilmy-after {
  display: block
}

.state-login .ui-personinfo {
  height: 130px;
  width: 100%;
  overflow: hidden
}

.state-login .ui-personinfo .util-info-wrap {
  opacity: 0;
  transition: opacity .5s
}

.btn-alarm:disabled {
  opacity: .5
}

.state-login .loaded .ui-personinfo {
  height: auto
}

.ui-drop-box .loaded .ui-personinfo .util-info-wrap {
  opacity: 1
}

.exe-logout,
.exe-login2,
.exe-login {
  position: absolute;
  line-height: 1;
  top: 5px;
  left: 200px;
  height: 24px;
  background: #fe4a00;
  color: #fff;
  padding: 0 10px;
  border-radius: 15px;
  border: 2px solid #fff
}

.exe-login2 {
  left: 300px
}

.exe-logout,
.state-login .exe-login {
  display: none
}

.state-login .exe-login2 {
  display: none
}

.state-login .exe-logout {
  display: block;
  background: #03b2d0
}

.base-footer.footer-error {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  font-weight: 300;
  color: #666;
  text-align: center;
  line-height: 24px;
  letter-spacing: -0.05em;
  border-top: 1px solid #e4e4e4;
  background-color: #eee
}

.base-footer {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-top: 50px;
  background: #ececf1;
  padding-bottom: 80px
}

.base-footer .inner {
  position: relative;
  width: 1180px;
  margin: 0 auto
}

.ft-sec1 {
  width: 100%;
  background: #fff;
  border-top: 1px solid #ddd
}

.ft-menu:after {
  content: '';
  display: block;
  clear: both
}

.ft-menu>li {
  position: relative;
  float: left;
  width: 25%
}

.ft-menu-btn {
  position: relative;
  width: 100%;
  height: 46px;
  padding-left: 15px;
  font-size: 15px;
  color: #000;
  font-weight: 500;
  border-right: 1px solid #dcdcdc;
  text-align: left;
  background: url('/resources/images/common/bul_footer_arrow.png') 95% center no-repeat
}

.ft-menu-btn:focus {
  border: 0;
  border-right: 1px solid #dcdcdc;
  outline: inherit
}

.ft-menu>li:first-child .ft-menu-btn {
  border-left: 1px solid #dcdcdc
}

.ft-menu-btn:focus span,
.ft-menu-btn:hover span {
  border-bottom: 1px solid #000
}

.ft-menu-sub {
  display: none;
  position: absolute;
  bottom: 46px;
  left: 0;
  width: 100%;
  min-height: 200px;
  padding: 25px 20px;
  background: #fff;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd
}

.ie8 .ft-menu-sub {
  min-height: 150px
}

.ft-menu>li:first-child .ft-menu-sub {
  border-left: 1px solid #ddd
}

.ft-menu-sub>li {
  line-height: 24px
}

.ft-menu-sub button,
.ft-menu-sub a {
  color: #222;
  font-size: 15px
}

.ft-menu-sub button:focus,
.ft-menu-sub button:hover,
.ft-menu-sub a:focus,
.ft-menu-sub a:hover {
  border-bottom: 1px solid #444
}

.ft-menu-sub.on {
  display: block
}

.ft-sec2 {
  width: 100%
}

.ft-infowrap {
  overflow: hidden;
  padding-top: 28px
}

.ft-utilmenu,
.ft-webward {
  float: left
}

.ft-utilmenu>a,
.addr-wrap a,
.addr-wrap p span {
  position: relative;
  float: left;
  display: block;
  height: 26px;
  line-height: 26px;
  padding: 0 8px;
  color: #555;
  font-size: 13px;
  letter-spacing: -0.5px
}

.addr-wrap p {
  overflow: hidden
}

.ft-utilmenu a {
  font-weight: 500
}

.ft-utilmenu>a:before,
.addr-wrap p span:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 1px;
  height: 11px;
  margin-top: -5.5px;
  background: #b7b7b8
}

.ft-utilmenu>a:first-child,
.addr-wrap p span:first-child {
  padding-left: 0
}

.ft-utilmenu>a:first-child:before,
.addr-wrap p span:first-child:before {
  display: none
}

.ft-webward {
  margin-left: 15px
}

.ft-webward>li {
  float: left;
  margin-left: 6px
}

.ft-webward>li:first-child {
  margin-left: 0
}

.ft-webward>li a {
  display: block;
  background-image: url('/resources/images/common/footer.png?ver=20210811');
  background-repeat: no-repeat
}

.ft-webward>li.n1 a {
  width: 34px;
  height: 27px;
  background-position: 0 0
}

.ft-webward>li.n2 a {
  width: 33px;
  height: 27px;
  background-position: -50px 0
}

.ft-webward>li.n3 a {
  width: 33px;
  height: 27px;
  background-position: -100px 0
}

.ft-webward>li.n4 a {
  width: 27px;
  height: 27px;
  background-position: 0 -30px
}

.ft-webward>li.n5 a {
  width: 27px;
  height: 27px;
  background-position: -50px -30px
}

.ft-webward>li.n6 a {
  width: 45px;
  height: 27px;
  background-position: -100px -30px
}

.ft-webward>li.n7 a {
  width: 35px;
  height: 28px;
  background-position: -143px 0
}

.addr-wrap {
  margin-top: 17px
}

.addr-wrap p {
  margin: 0
}

.addr-wrap p span {
  font-style: normal
}

.ft-telwrap {
  position: absolute;
  top: 10px;
  right: 0
}

.ft-telwrap dl {
  display: block;
  position: relative;
  width: 230px;
  padding: 5px 0;
  overflow: hidden
}

.ft-telwrap dl dt {
  float: left;
  padding-top: 7px;
  font-size: 13px;
  color: #000;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.03em
}

.ft-telwrap dl dt span {
  display: block;
  font-size: 12px;
  color: #555;
  font-weight: 300
}

.ft-telwrap dl dd {
  float: right;
  font-size: 12px;
  color: #555;
  font-weight: 300;
  letter-spacing: -0.03em;
  text-align: center
}

.ft-telwrap dl dd strong {
  display: block;
  font-size: 22px;
  line-height: 26px;
  font-weight: 500
}

.ft-telwrap dl+dl {
  border-top: 1px solid #d2d2db;
  border-bottom: 1px solid #d2d2db
}

.btn-top {
  position: fixed;
  bottom: 10px;
  right: 10px
}

.keypad-sec {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10000;
  width: 500px;
  height: 300px;
  background: lightgreen
}

.btn-wrap.ft-btn {
  display: none;
  width: 100%;
  margin: 80px 0 0
}

.btn-go-mob {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 0 !important;
  display: block;
  width: 100%;
  height: auto;
  padding: 30px 20px;
  color: #fff;
  font-size: 40px;
  font-weight: 400;
  background: rgba(0, 0, 0, 0.7)
}

.pc-mode .btn-wrap.ft-btn {
  display: block
}